*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-color: white; */
}

header.navbar{
    width: 100%;
    height: 60px;
    background-image:linear-gradient( -1deg,#e87a7a,#80ba80);
    background-size: cover;   
}
.username{
    left: 23%;
    text-align: center;
    width: 25%;
    position: relative;
    top: 30%;
}
.username p{
    color: beige;
    position: relative;
    font-size: 115%;
}
.logout{
    border-radius: 5px;
    text-align: center;
    height: 35px;
    width: 85px;
    float: right;
    margin-right: 24px;
    /* background-color: rgb(231, 128, 128); */
    padding: 5px;
    transition: .5s;

}

.logout a{
    text-decoration: none;
    color: white;
    /* padding-top: 2px; */
}
.table{
    position: absolute;
    /* border: 2px solid red; */
    width: 25%;
    height: 100%;
    top: 0px;
    background-image: linear-gradient(-1deg,#e87a7a,#80ba80);
}
.sitename{
    margin-bottom: -31px;
        display: flex;
        justify-content: center;
        margin-top: 31px;
}
.sitename span{
    font-size: 32px;
    color: white;
}
hr{
    margin: 71px 1rem 1rem;
    border: none;
    border-top: 1px solid #ffffff4f;
}
.invest span{
    /* font-weight: bold; */
    color: #ffffff7a;
    font-size:11px;
    margin-left: 9px;
}
.invest a{
    color: white;
    font-size: 16px;
    margin-left: 19px;
    font-weight: bold;
    display: block;
    padding-top: 34px;
    text-decoration: none;
}
.hr2{
    margin: 35px 1rem 1rem;
    border: none;
    border-top: 1px solid #ffffff4f;
}
.activity span{
    font-weight: bold;
    color: #ffffff7a;
    font-size:11px;
    margin-left: 9px;
}
.activity a{
    color: white;
    font-size: 16px;
    margin-left: 19px;
    font-weight: bold;
    display: block;
    padding-top: 34px;
    text-decoration: none;
}
.hr3{
    margin: 35px 1rem 1rem;
    border: none;
    border-top: 1px solid #ffffff4f;
}
.settings span{
    font-weight: bold;
    color: #ffffff7a;
    font-size:11px;
    margin-left: 9px;
}
.settings a{
    color: white;
    font-size: 16px;
    margin-left: 19px;
    font-weight: bold;
    display: block;
    padding-top: 4px;
    text-decoration: none;
}
.hr4{
    margin: 35px 1rem 1rem;
    border: none;
    border-top: 1px solid #ffffff4f;
}
@media(max-width:658px){
.settings a, .activity a, .invest a{
    font-size:12px;

}
}
@media(max-width:658px){
.invest a, .settings a, .activity a{
font-style:italic;
font-size:7px;
padding-top:20px;
margin-left:16px;
}
.sitename span{
font-size:70%;
}
.hr2,.hr3,.hr4{
margin: 15px 1rem 1rem;
}
hr{
margin: 45px 1rem 1rem;
}
.sitename{
left:18%;
}
.username p{
font-size:70%;
}
.username{
left:25%;
}
header.navbar{
height:30px;
}
.logout{
    border-radius: 5px;
    height: 27px;
    width: 54px;
    margin-right: 24px;
    display: flex;
    justify-content: center;
    margin-top:-12px;
    /* transition: 1s; */
}
.logout a{
    font-size: 13px;
}

.logout:hover{
    border-radius: 5px;
    background-color: aqua;
}
}
.logout:hover{
    border-radius: 5px;
    background-color: aqua;
}
.container{
    
    position: relative;
    top: 108px;
    float: right;
    /* border: 2px solid red; */
    width: 75%;
    /* display: flex; */
    flex-direction: column;
    height: 100%;
}
.row1{
    height: 70px;
    width: 100%;
    display: flex;
    margin: 2px 2px;

}
.row2{
    height: 70px;
    width: 100%;
    display: flex;
    margin: 2px 2px;


}
.row3{
    
    height: 70px;
    width: 100%;
    display: flex;
    margin: 2px 2px;

}
.item{
    border: 2px solid black;
    width: 25%;
    height: 70px;
    margin: 2px 2px;

}
@media(max-width:658px){
    .row1{
    height: 50px;
    width: 100%;
    display: flex;
    margin: 0px 2px;
    }
    .row2{
    height: 50px;
    width: 100%;
    display: flex;
    margin: 2px 2px;
    }
    .row3{
    height: 50px;
    width: 100%;
    display: flex;
    margin: 0px 2px;
    }
    .item{
        height: 50px;
    }
}
